section{
    background-color: #22384f;
}

.section-banner{
    background-image: url(/image/banner1.jpg);
     /* background-repeat: no-repeat;
    background-attachment: fixed;*/
    background-position: center;
    background-size: cover; 
    height: 400px;
}

h5{
    color: aliceblue;
    font-weight: bold;
}

/* Footer */
#site-footer {
    position: relative;
    /* width: 100%; */
    background: #b5ecf8;
    height: 60px;
  }
  .copy{
    background: #b5ecf8;
    position: absolute;
    bottom: 0;
    font-size:12px;
    text-align:center;
    color: rgb(0, 0, 0);
    width: 100%;
  }